.env
docker_legacy/

.venv/
__pycache__/
.DS_Store

/api/video_converter.py
/api/simulator_resources/annotated*

/tests/test_vision_tasks_legacy.txt

*.db
*.db-shm
*.db-wal

/api/simulator_resources/recorded_audio.wav
/api/simulator_resources/frames.mp4
/api/simulator_resources/riley_annotated.mp4
/api/simulator_resources/shrish_annotated.mp4
/api/simulator_resources/riley_self_intro.mp4
/api/simulator_resources/shrip_annotated.mp4
/api/simulator_resources/shrish_introduced.mp4
/api/simulator_resources/video_slower.py
/api/simulator_resources/video.mp4
